extends layout

block content
    h1= title
    br
    form(name='add-message', action='/new', method='post')
        div.input
            span.label Name
            input(type="text", name="name")
        div.input
            span.label Message
            input(type='text', name='message')
        div.actions
            input(type="submit", value="add")